Repository EMMC-ASBL/oteapi-dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  - --disable=import-outside-toplevel,redefined-outer-name,import-error
  language: python
  require_serial: true

Updated datasets.yaml and the context
  oteapi_dlite/context/0.2/context.json
  tests/input/datasets.yaml
Due: none

Updated example datasets.yaml
  tests/input/datasets.yaml
Due: none

Updated context
  oteapi_dlite/context/0.2/context.json
Due: none

Added initial version of semdata.yaml
  tests/input/datasets.yaml
  tests/input/semdata.yaml
Due: none

Updated demdata.yaml
  tests/input/semdata.yaml
Due: none

Updated semdata description
  tests/input/semdata.yaml
Due: none

Initial updates trying to update to dev core versions
  oteapi_dlite/models.py
  oteapi_dlite/models/__init__.py
  oteapi_dlite/models/session.py
  oteapi_dlite/strategies/convert.py
  oteapi_dlite/strategies/filter.py
  oteapi_dlite/strategies/generate.py
  oteapi_dlite/strategies/mapping.py
  oteapi_dlite/strategies/parse.py
  oteapi_dlite/strategies/parse_excel.py
  oteapi_dlite/strategies/parse_image.py
  oteapi_dlite/strategies/serialise.py
  oteapi_dlite/strategies/settings.py
  oteapi_dlite/utils/utils.py
  pyproject.toml
Due: pylint

Update pre-commit hooks
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  oteapi_dlite/__init__.py
  oteapi_dlite/models/__init__.py
  oteapi_dlite/models/session.py
  oteapi_dlite/strategies/convert.py
  oteapi_dlite/strategies/filter.py
  oteapi_dlite/strategies/generate.py
  oteapi_dlite/strategies/mapping.py
  oteapi_dlite/strategies/parse.py
  oteapi_dlite/strategies/parse_excel.py
  oteapi_dlite/strategies/parse_image.py
  oteapi_dlite/strategies/serialise.py
  oteapi_dlite/strategies/settings.py
  oteapi_dlite/utils/__init__.py
  oteapi_dlite/utils/exceptions.py
  oteapi_dlite/utils/nputils.py
  oteapi_dlite/utils/utils.py
  pyproject.toml
  tests/conftest.py
  tests/strategies/paths.py
  tests/strategies/test_convert.py
  tests/strategies/test_convert_w_options.py
  tests/strategies/test_filter.py
  tests/strategies/test_generate.py
  tests/strategies/test_generate_collection.py
  tests/strategies/test_generate_from_mappings.py
  tests/strategies/test_generate_kb.py
  tests/strategies/test_mapping.py
  tests/strategies/test_parse.py
  tests/strategies/test_parse_excel.py
  tests/strategies/test_parse_image.py
  tests/strategies/test_serialise.py
  tests/strategies/test_settings.py
  tests/test_package/convert_module.py
  tests/utils/test_get_instance.py
  tests/utils/test_utils.py
Due: pylint, pylint-tests

Final changes to the code base based on ruff
  oteapi_dlite/strategies/convert.py
  oteapi_dlite/strategies/generate.py
  oteapi_dlite/strategies/settings.py
  oteapi_dlite/utils/utils.py
  tests/conftest.py
  tests/strategies/test_convert.py
  tests/strategies/test_parse_image.py
Due: pylint, pylint-tests

Update tests to help them succeed
  tests/output/.gitignore
  tests/strategies/test_generate_kb.py
Due: pylint-tests

Update CI/CD workflows
  .github/dependabot.yml
  .github/utils/release_tag_msg.txt
  .github/utils/single_dependency_pr_body.txt
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependency_prs.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_tests.yml
  .github/workflows/ci_update_dependencies.yml
Due: none

Fix mkdocs generation
  docs/.pages
  docs/index.md
  mkdocs.yml
  oteapi_dlite/strategies/generate.py
  oteapi_dlite/utils/utils.py
  pyproject.toml
Due: pylint

Perform strict docs build in CI
  .github/workflows/ci_tests.yml
Due: none

Improve comment
  tests/strategies/test_generate_kb.py
Due: pylint-tests

Fix with black
  tests/strategies/test_generate_kb.py
Due: pylint-tests

Update dev tools (#309)
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  oteapi_dlite/__init__.py
  oteapi_dlite/models/__init__.py
  oteapi_dlite/models/session.py
  oteapi_dlite/strategies/convert.py
  oteapi_dlite/strategies/filter.py
  oteapi_dlite/strategies/generate.py
  oteapi_dlite/strategies/mapping.py
  oteapi_dlite/strategies/parse.py
  oteapi_dlite/strategies/parse_excel.py
  oteapi_dlite/strategies/parse_image.py
  oteapi_dlite/strategies/serialise.py
  oteapi_dlite/strategies/settings.py
  oteapi_dlite/utils/__init__.py
  oteapi_dlite/utils/exceptions.py
  oteapi_dlite/utils/nputils.py
  oteapi_dlite/utils/utils.py
  pyproject.toml
  tests/conftest.py
  tests/output/.gitignore
  tests/strategies/paths.py
  tests/strategies/test_convert.py
  tests/strategies/test_convert_w_options.py
  tests/strategies/test_filter.py
  tests/strategies/test_generate.py
  tests/strategies/test_generate_collection.py
  tests/strategies/test_generate_from_mappings.py
  tests/strategies/test_generate_kb.py
  tests/strategies/test_mapping.py
  tests/strategies/test_parse.py
  tests/strategies/test_parse_excel.py
  tests/strategies/test_parse_image.py
  tests/strategies/test_serialise.py
  tests/strategies/test_settings.py
  tests/test_package/convert_module.py
  tests/utils/test_get_instance.py
  tests/utils/test_utils.py
Due: pylint, pylint-tests

Fix landing page link to all_strategies
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
Due: none

Update CI/CD, fix MkDocs build, use Trusted Publishers for PyPI (#311)
  .github/dependabot.yml
  .github/utils/release_tag_msg.txt
  .github/utils/single_dependency_pr_body.txt
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependency_prs.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_tests.yml
  .github/workflows/ci_update_dependencies.yml
  .pre-commit-config.yaml
  docs/.pages
  docs/index.md
  mkdocs.yml
  oteapi_dlite/strategies/generate.py
  oteapi_dlite/utils/utils.py
  pyproject.toml
Due: pylint

Update tripper dependency
  pyproject.toml
Due: none

Update tripper dependecy to have version number
  pyproject.toml
Due: none

Make tests work
  docs/api_reference/models.md
  docs/api_reference/models/.pages
  docs/api_reference/models/session.md
  oteapi_dlite/models.py
  oteapi_dlite/strategies/generate.py
  oteapi_dlite/strategies/mapping.py
  oteapi_dlite/strategies/parse.py
  oteapi_dlite/strategies/parse_excel.py
  oteapi_dlite/strategies/parse_image.py
  oteapi_dlite/strategies/settings.py
  oteapi_dlite/utils/__init__.py
  oteapi_dlite/utils/utils.py
  pyproject.toml
  tests/output/kb.ttl
  tests/strategies/conftest.py
  tests/strategies/paths.py
  tests/strategies/test_convert.py
  tests/strategies/test_convert_w_options.py
  tests/strategies/test_filter.py
  tests/strategies/test_generate.py
  tests/strategies/test_generate_collection.py
  tests/strategies/test_generate_from_mappings.py
  tests/strategies/test_generate_kb.py
  tests/strategies/test_mapping.py
  tests/strategies/test_parse.py
  tests/strategies/test_parse_excel.py
  tests/strategies/test_parse_image.py
  tests/strategies/test_serialise.py
  tests/strategies/test_settings.py
  tests/utils/test_utils.py
Due: pylint, pylint-tests

Update codebase according to updates in origin
  oteapi_dlite/models.py
  oteapi_dlite/strategies/convert.py
  oteapi_dlite/strategies/filter.py
  oteapi_dlite/strategies/generate.py
  oteapi_dlite/strategies/mapping.py
  oteapi_dlite/strategies/parse.py
  oteapi_dlite/strategies/parse_excel.py
  oteapi_dlite/strategies/parse_image.py
  oteapi_dlite/strategies/serialise.py
  oteapi_dlite/utils/utils.py
  tests/output/kb.ttl
  tests/strategies/conftest.py
  tests/strategies/test_convert.py
  tests/strategies/test_filter.py
  tests/strategies/test_generate.py
  tests/strategies/test_mapping.py
  tests/strategies/test_parse.py
  tests/strategies/test_parse_excel.py
  tests/strategies/test_parse_image.py
  tests/strategies/test_serialise.py
  tests/strategies/test_settings.py
Due: pylint, pylint-tests

Revert removal of deprecated filter strategy
  pyproject.toml
Due: none

Update doc-strings
  oteapi_dlite/strategies/parse_excel.py
  oteapi_dlite/strategies/parse_image.py
  oteapi_dlite/utils/utils.py
Due: pylint

Ignore UserWarning emitted during testing in Windows
  pyproject.toml
Due: none

Revert restructuring tests
  tests/strategies/test_convert_w_options.py
  tests/strategies/test_generate_collection.py
  tests/strategies/test_generate_from_mappings.py
  tests/strategies/test_generate_kb.py
  tests/strategies/test_mapping.py
  tests/strategies/test_parse.py
  tests/strategies/test_settings.py
  tests/utils/test_utils.py
Due: pylint-tests

Further fix non-critical changes
  tests/strategies/test_generate_kb.py
  tests/utils/test_utils.py
Due: pylint-tests

Fix mapping_without_prefixes test
  tests/strategies/test_mapping.py
Due: pylint-tests

Update pyproject.toml
  pyproject.toml
Due: none

Expand upper limits for dependency versions
  pyproject.toml
Due: none

Add a Docker Compose file for local testing
  compose.yml
Due: none

Use a new `paths` fixture for all path-related stuff
  tests/conftest.py
  tests/strategies/conftest.py
  tests/strategies/test_convert.py
  tests/strategies/test_convert_w_options.py
  tests/strategies/test_generate.py
  tests/strategies/test_generate_collection.py
  tests/strategies/test_generate_from_mappings.py
  tests/strategies/test_generate_kb.py
  tests/strategies/test_parse.py
  tests/strategies/test_parse_excel.py
  tests/strategies/test_parse_image.py
  tests/test_package/test_convert_module.py
  tests/utils/test_get_instance.py
Due: pylint-tests

Upgrade to `dev` core versions (#316)
  compose.yml
  docs/api_reference/models.md
  docs/api_reference/models/.pages
  docs/api_reference/models/session.md
  oteapi_dlite/models.py
  oteapi_dlite/models/__init__.py
  oteapi_dlite/models/session.py
  oteapi_dlite/strategies/convert.py
  oteapi_dlite/strategies/filter.py
  oteapi_dlite/strategies/generate.py
  oteapi_dlite/strategies/mapping.py
  oteapi_dlite/strategies/parse.py
  oteapi_dlite/strategies/parse_excel.py
  oteapi_dlite/strategies/parse_image.py
  oteapi_dlite/strategies/serialise.py
  oteapi_dlite/strategies/settings.py
  oteapi_dlite/utils/__init__.py
  oteapi_dlite/utils/utils.py
  pyproject.toml
  tests/conftest.py
  tests/strategies/paths.py
  tests/strategies/test_convert.py
  tests/strategies/test_convert_w_options.py
  tests/strategies/test_filter.py
  tests/strategies/test_generate.py
  tests/strategies/test_generate_collection.py
  tests/strategies/test_generate_from_mappings.py
  tests/strategies/test_generate_kb.py
  tests/strategies/test_mapping.py
  tests/strategies/test_parse.py
  tests/strategies/test_parse_excel.py
  tests/strategies/test_parse_image.py
  tests/strategies/test_serialise.py
  tests/strategies/test_settings.py
  tests/test_package/test_convert_module.py
  tests/utils/test_get_instance.py
  tests/utils/test_utils.py
Due: pylint, pylint-tests

Updated drawio image
  docs/figs/dataset.drawio
Due: none

Added an option to turn off property mappings
  oteapi_dlite/strategies/generate.py
Due: pylint

Fixes pytest for me locally, but I do not understand why it fails to import DLite
  pyproject.toml
Due: none

Interim testing with tripper in main, which accepts pint that supports numpy2
  pyproject.toml
Due: none

in order to use mappings in tripper, this has now to be specified in req
  pyproject.toml
Due: none

Working requirements
  pyproject.toml
Due: none

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^tests/.*$)
  pylint-tests: any of: ^tests/.*$ and \.py$
