Repository EMMC-ASBL/oteapi-dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate

ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: false
  autoupdate_branch: 'main'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: ["pylint", "pylint-tests"]
  submodules: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: requirements-txt-fixer
      name: Fix requirements*.txt
      files: ^requirements.*\.txt$
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/timothycrosley/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args: ["--profile", "black", "--line-length", "80", "--filter-files", "--skip-gitignore"]

  - repo: https://github.com/ambv/black
    rev: 24.2.0
    hooks:
    - id: black
      args: ["--line-length", "80"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.8
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^oteapi_dlite/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.7.4
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=oteapi_dlite
      - --full-docs-folder=models
      - --full-docs-folder=strategies
    - id: docs-landing-page
      args:
      - --replacement=(LICENSE),(LICENSE.md)
      - --replacement=https://EMMC-ASBL.github.io/oteapi-dlite/latest/,

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--extension-pkg-whitelist='pydantic'"
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--extension-pkg-whitelist='pydantic'"
      - "--disable=import-outside-toplevel,redefined-outer-name,import-error"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Readded old name for filter entrypoint
  pyproject.toml
Due: none

Updated example in description of kb_document_class
  oteapi_dlite/strategies/generate.py
Due: pylint

Removed duplicate call to create_function in example
  oteapi_dlite/strategies/generate.py
Due: pylint

Add new `kb_document` option to the generate strategy (#264)
  docs/api_reference/strategies/settings.md
  mkdocs.yml
  oteapi_dlite/strategies/generate.py
  oteapi_dlite/strategies/settings.py
  oteapi_dlite/utils/__init__.py
  oteapi_dlite/utils/utils.py
  pyproject.toml
  tests/strategies/test_convert.py
  tests/strategies/test_generate.py
  tests/strategies/test_generate_from_mappings.py
  tests/strategies/test_generate_kb.py
  tests/strategies/test_settings.py
  tests/utils/test_utils.py
Due: pylint, pylint-tests

Updated docstring for kb_document_computation
  oteapi_dlite/strategies/generate.py
  pyproject.toml
Due: pylint

Updated description of configuration `kb_document_computation `
  oteapi_dlite/strategies/generate.py
Due: pylint

Updated assumptions in the description of kb_document_computation
  oteapi_dlite/strategies/generate.py
Due: pylint

Added support for multiple output for kb_document_computation
  oteapi_dlite/strategies/generate.py
Due: pylint

Apply suggestions from code review
  oteapi_dlite/strategies/generate.py
Due: pylint

Update oteapi_dlite/strategies/generate.py
  oteapi_dlite/strategies/generate.py
Due: pylint

Added tests for kb_document_base_iri
  tests/strategies/test_generate_kb.py
Due: pylint-tests

Update `kb_document` with the possibility to connect input to output (#267)
  oteapi_dlite/strategies/generate.py
  pyproject.toml
  tests/strategies/test_generate_kb.py
Due: pylint, pylint-tests

Updated dependencies
  pyproject.toml
Due: none

Fixed typo
  pyproject.toml
Due: none

Use proper dev versions for dependencies
  requirements.txt
  requirements_dev.txt
Due: none

Added improved control over partial pipeline created with generate strategy.
  oteapi_dlite/strategies/generate.py
  oteapi_dlite/strategies/mapping.py
  oteapi_dlite/utils/__init__.py
  oteapi_dlite/utils/utils.py
  tests/strategies/test_generate_kb.py
  tests/strategies/test_mapping.py
  tests/utils/test_utils.py
Due: pylint, pylint-tests

Updated test_generate_kb to use otelib.
  tests/strategies/test_generate_kb.py
Due: pylint-tests

Added new module for serialisation to RDF.
  docs/api_reference/utils/rdf.md
  oteapi_dlite/utils/__init__.py
  oteapi_dlite/utils/rdf.py
  tests/input/dataresources.yaml
  tests/output/.gitignore
  tests/utils/paths.py
  tests/utils/test_rdf.py
Due: pylint, pylint-tests

Updated ontological representation
  oteapi_dlite/utils/rdf.py
  tests/input/dataresources.yaml
Due: pylint

Updated RDF serialisation
  oteapi_dlite/utils/rdf.py
Due: pylint

Updated rdf serialisation
  oteapi_dlite/utils/rdf.py
  tests/input/dataresources.yaml
  tests/utils/paths.py
  tests/utils/test_rdf.py
Due: pylint, pylint-tests

Added context
  oteapi_dlite/context/context.json
  tests/utils/test_rdf.py
Due: pylint-tests

Corrected test after moving context
  oteapi_dlite/context/context.json
  tests/utils/test_rdf.py
Due: pylint-tests

Updated rdf representation of datasets
  oteapi_dlite/context/context.json
  oteapi_dlite/utils/__init__.py
  oteapi_dlite/utils/rdf.py
  tests/utils/test_rdf.py
Due: pylint, pylint-tests

Removed unused file: tests/utils/paths.py since pytest can't cope with it...
  tests/utils/paths.py
Due: pylint-tests

Implemented RDF serialisation of data documentation
  oteapi_dlite/context/context.json
  oteapi_dlite/utils/rdf.py
  pyproject.toml
  tests/utils/test_rdf.py
Due: pylint, pylint-tests

Updated URL to json-ld context
  oteapi_dlite/utils/rdf.py
  tests/utils/test_rdf.py
Due: pylint, pylint-tests

Added load_dataset_sparql() for use with fuseki
  oteapi_dlite/utils/rdf.py
  tests/utils/test_rdf.py
Due: pylint, pylint-tests

Added version to context
  oteapi_dlite/context/0.1/context.json
  oteapi_dlite/utils/rdf.py
Due: pylint

Added dataset.yaml with a lot of comments
  oteapi_dlite/context/0.1/context.json
  oteapi_dlite/utils/rdf.py
  pyproject.toml
  tests/input/datasets.yaml
  tests/utils/test_rdf.py
Due: pylint, pylint-tests

Added figure
  docs/figs/dataset.drawio
  docs/figs/dataset.png
Due: none

Improved dataset documentation example based on comments from Francesca and Tor
  docs/figs/dataset.drawio
  tests/input/datasets.yaml
Due: none

Tried to move pylint disable comment to see if pre-commit CI is happy with that...
  oteapi_dlite/utils/utils.py
Due: pylint

Yet another try to make pre-commit happy on github...
  oteapi_dlite/utils/utils.py
Due: pylint

Fixed development-specific requirements
  oteapi_dlite/utils/utils.py
  pyproject.toml
Due: pylint

Updated test_generate_kb to use otelib. (#281)
  tests/strategies/test_generate_kb.py
Due: pylint-tests

Improved control over partial pipeline created with the generate strategy (#280)
  oteapi_dlite/strategies/generate.py
  oteapi_dlite/strategies/mapping.py
  oteapi_dlite/utils/__init__.py
  oteapi_dlite/utils/utils.py
  pyproject.toml
  tests/strategies/test_generate_kb.py
  tests/strategies/test_mapping.py
  tests/utils/test_utils.py
Due: pylint, pylint-tests

Updated dependencies (#273)
  pyproject.toml
Due: none

Added new version of context
  docs/api_reference/utils/dataset.md
  docs/figs/dataset.drawio
  oteapi_dlite/context/0.2/context.json
  oteapi_dlite/utils/dataset.py
  tests/input/datasets.yaml
  tests/utils/test_dataset.py
Due: pylint, pylint-tests
