Repository EMMC-ASBL/oteapi-dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: false
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: [pylint, pylint-tests]
  submodules: false

# hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: requirements-txt-fixer
      name: Fix requirements*.txt
      files: ^requirements.*\.txt$
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args: ["--profile", "black", "--line-length", "80", "--filter-files", "--skip-gitignore"]

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
    - id: black
      args: ["--line-length", "80"]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^oteapi_dlite/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
      - "types-requests"
      - "pydantic>=2,<3"

  - repo: https://github.com/SINTEF/ci-cd
    rev: v2.8.2
    hooks:
    - id: docs-api-reference
      args:
      - --package-dir=oteapi_dlite
      - --full-docs-folder=models
      - --full-docs-folder=strategies
    - id: docs-landing-page
      args:
      - --replacement=(LICENSE),(LICENSE.md)
      - --replacement=https://EMMC-ASBL.github.io/oteapi-dlite/latest/,

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--extension-pkg-whitelist='pydantic'"
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=pyproject.toml"
      - "--extension-pkg-whitelist='pydantic'"
      - "--disable=import-outside-toplevel,redefined-outer-name,import-error"
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Update oteapi-dlite req
  oteapi_dlite/strategies/convert.py
  pyproject.toml
Due: pylint

Remove commented out tripper spec
  pyproject.toml
Due: none

dec numpy
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Tripper>=0.3.5 resolves EMMO namespace correctly.
  pyproject.toml
  tests/strategies/test_mapping.py
Due: pylint-tests

Force numpy<2
  pyproject.toml
Due: none

Remove treating warnings as errors
  pyproject.toml
Due: none

Manuall added ca-certificates to ci-workflow to see it this helps
  .github/workflows/ci_tests.yml
Due: none

Removed extra installation of certificates and bypass cert in test
  tests/strategies/test_generate_kb.py
Due: pylint-tests

Removed unnedded extra install of ca-certificates in ci-workflow
  .github/workflows/ci_tests.yml
Due: none

Up version of dlite-python
  pyproject.toml
Due: none

Apply suggestions from code review
  pyproject.toml
Due: none

Remove unused/deprecated docs option
  mkdocs.yml
Due: none

Update codebase according to updated dev tools
  oteapi_dlite/utils/__init__.py
Due: pylint

Keep the same style dependency operator
  pyproject.toml
Due: none

Drop Python 3.9 support
  .github/workflows/cd_release.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_tests.yml
  oteapi_dlite/strategies/parse.py
  oteapi_dlite/strategies/parse_excel.py
  oteapi_dlite/strategies/parse_image.py
  pyproject.toml
Due: pylint

Update CI/CD workflows
  .github/dependabot.yml
  .github/workflows/ci_bot_pr_changes.yml
  .github/workflows/ci_tests.yml
  pyproject.toml
Due: none

Update code base based on updated dev tools
  .github/pull_request_template.md
  .markdownlint.yaml
  .pre-commit-config.yaml
  README.md
  docs/index.md
  oteapi_dlite/models.py
  oteapi_dlite/strategies/convert.py
  oteapi_dlite/strategies/filter.py
  oteapi_dlite/strategies/generate.py
  oteapi_dlite/strategies/mapping.py
  oteapi_dlite/strategies/parse.py
  oteapi_dlite/strategies/parse_excel.py
  oteapi_dlite/strategies/parse_image.py
  oteapi_dlite/strategies/serialise.py
  oteapi_dlite/utils/nputils.py
  oteapi_dlite/utils/utils.py
  tests/entities/Forces.json
  tests/entities/Result.json
  tests/strategies/test_parse_image.py
Due: pylint, pylint-tests

Change OTE-API -> OTEAPI
  README.md
  docs/index.md
  oteapi_dlite/__init__.py
  oteapi_dlite/strategies/convert.py
  oteapi_dlite/strategies/generate.py
  oteapi_dlite/strategies/parse.py
  oteapi_dlite/strategies/parse_excel.py
  oteapi_dlite/strategies/parse_image.py
Due: pylint

Update Docker Compose file
  compose.yml
Due: none

Nitpicky changes
  oteapi_dlite/strategies/convert.py
  oteapi_dlite/strategies/parse_image.py
Due: pylint

Add another comment for zip() usage
  oteapi_dlite/strategies/parse_excel.py
Due: pylint

Use the latest dlite and tripper versions
  oteapi_dlite/strategies/convert.py
  pyproject.toml
  tests/strategies/test_mapping.py
Due: pylint, pylint-tests

Add explicit upper version limits
  pyproject.toml
Due: none

Fix typo
  pyproject.toml
Due: none

Added an option to turn off property mappings (#328)
  oteapi_dlite/strategies/generate.py
Due: pylint

Drop safety in favor of pip-audit
  .github/workflows/ci_tests.yml
Due: none

Merge pull request #355 from EMMC-ASBL/cwa/use-pip-audit
  .github/workflows/ci_tests.yml
Due: none

Ignore rule MD059 for markdownlint
  .markdownlint.yaml
Due: none

Ignore bandit B311:blacklist
  oteapi_dlite/strategies/parse_excel.py
Due: pylint

Ignore convention-related pylint codes (ruff)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Use pip-compile prior to pip-audit
  .github/dependabot.yml
  .github/utils/requirements_audit.txt
  .github/workflows/ci_tests.yml
Due: none
