Repository EMMC-ASBL/oteapi-dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  - --disable=import-outside-toplevel,redefined-outer-name,import-error
  language: python
  require_serial: true

fix pre-commit errors
  oteapi_dlite/strategies/mapping.py
Due: pylint

fix pylint errors
  oteapi_dlite/strategies/mapping.py
Due: pylint

add options to fetch triples/graph from an external KG
  oteapi_dlite/strategies/mapping.py
Due: pylint

fix docs
  oteapi_dlite/strategies/mapping.py
Due: pylint

add logger
  oteapi_dlite/strategies/mapping.py
Due: pylint

remove unused pypi package
  requirements.txt
Due: none

add options to fetch triples/graph from an external KG (#14)
  .pre-commit-config.yaml
  oteapi_dlite/strategies/mapping.py
Due: pylint

Added settings strategy and started to add a new kb_document option to the generate strategy
  docs/api_reference/strategies/settings.md
  oteapi_dlite/strategies/generate.py
  oteapi_dlite/strategies/settings.py
  oteapi_dlite/utils/__init__.py
  oteapi_dlite/utils/utils.py
  pyproject.toml
  tests/strategies/test_settings.py
  tests/utils/test_utils.py
Due: pylint, pylint-tests

update sparql to fetch all data and object properties
  oteapi_dlite/strategies/mapping.py
Due: pylint

Updated documentation of stored instance in the generate strategy
  oteapi_dlite/strategies/generate.py
  tests/strategies/test_generate_kb.py
  tests/strategies/test_settings.py
Due: pylint, pylint-tests

Updated test_generate_kb.py
  oteapi_dlite/strategies/generate.py
  tests/strategies/test_generate.py
  tests/strategies/test_generate_from_mappings.py
  tests/strategies/test_generate_kb.py
  tests/strategies/test_settings.py
  tests/utils/test_utils.py
Due: pylint, pylint-tests

Added annotations to utils
  oteapi_dlite/utils/utils.py
Due: pylint

Added rdflib to test requirements
  pyproject.toml
Due: none

Tried to update index.md
  docs/index.md
Due: none

Updated index.md
  docs/index.md
Due: none

Added options to strategy convert
  oteapi_dlite/strategies/convert.py
  tests/strategies/test_convert.py
  tests/test_package/convert_module2.py
Due: pylint, pylint-tests

Added testing of generated content to test_convert()
  tests/strategies/test_convert.py
Due: pylint-tests

Moved options to strategy main config
  oteapi_dlite/strategies/convert.py
  tests/strategies/test_convert_w_options.py
  tests/test_package/convert_module.py
  tests/test_package/convert_module2.py
Due: pylint, pylint-tests

Try to remove strategies to be removed
  pyproject.toml
Due: none

Try to remove reduntant strategies page
  mkdocs.yml
Due: none

Started to add the possibility to connect output to input
  oteapi_dlite/strategies/generate.py
  tests/strategies/test_generate_kb.py
Due: pylint, pylint-tests

Corrected a bug detected by Francesca
  oteapi_dlite/strategies/convert.py
Due: pylint

Update oteapi_dlite/strategies/convert.py
  oteapi_dlite/strategies/convert.py
Due: pylint

Update oteapi_dlite/strategies/generate.py
  oteapi_dlite/strategies/generate.py
Due: pylint

Update oteapi_dlite/strategies/settings.py
  oteapi_dlite/strategies/settings.py
Due: pylint

Updated descriptions based on comments from reviewer
  oteapi_dlite/strategies/generate.py
  oteapi_dlite/strategies/settings.py
Due: pylint

Options as kwargs and remove strict documentation.
  .github/workflows/ci_tests.yml
  docs/index.md
  mkdocs.yml
  oteapi_dlite/strategies/convert.py
  tests/strategies/test_convert_w_options.py
Due: pylint, pylint-tests

Forgot to commit corrected index
  docs/index.md
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

remove parser (#19)
  README.md
  docs/all_strategies.md
  docs/api_reference/strategies/oceanlab_influx_parser.md
  docs/index.md
  mkdocs.yml
  oteapi_dlite/strategies/oceanlab_influx_parser.py
  requirements_docs.txt
  setup.cfg
  tests/strategies/test_influx_db_parser.py
Due: pylint, pylint-tests

update sparql (#17)
  oteapi_dlite/strategies/mapping.py
Due: pylint

Added description of why we only can handle one individual of each input class
  oteapi_dlite/strategies/generate.py
Due: pylint

Updated requirements on tripper
  pyproject.toml
Due: none

Updated entry-points for dlite-settings and renamed dlite-filter
  pyproject.toml
Due: none

Prepared new requirements of tripper after the next release
  pyproject.toml
Due: none

Try to stop resolve_closest in autorefs.
  mkdocs.yml
Due: none

Added support for Pytohn 3.12
  .github/workflows/ci_tests.yml
  pyproject.toml
Due: none

Lowercase keywords
  pyproject.toml
Due: none

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^tests/.*$)
  pylint-tests: any of: ^tests/.*$ and \.py$
